@keyframes moveUp {
    from {
        opacity: 0;
        transform: translateY(100px);
    } 
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.moveUpAnimation {
    animation-name: moveUp;
    animation-duration: .6s;
}